{% extends 'base.html' %} {% block content %}

<div class="login-content-wrapper">
 <form action="">   
    {{login.hidden_tag()}}
    <fieldset class>
        <legend> login </legend>

         <div class="form-group">
            {{login.email.label(class="col-sm-2 col-form-label")}} 

            {%if login.email.errors%}
                {{login.email(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {%for errors in form.email.errors%}
                        <span>{{error}}</span>
                    {%endfor%}
                </div>
            {%else%}    
                {{login.email(class = 'form-control form-control-lg')}}
            {% endif %}   
      </div>

        <div class="form-group">
            {{login.password.label(class="col-sm-2 col-form-label")}}

            {%if login.password.errors%}
                {{login.password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {%for errors in form.password.errors%}
                        <span>{{error}}</span>
                    {%endfor%}
                </div>
            {%else%}    
                {{login.password(class = 'form-control form-control-lg')}}
            {% endif %}   

      </div>


      <div class="form-group">
          {{login.submit(class="btn btn-outline-primary")}}
      </div>

      <div class="border-top pt-3">
        <small class="text-muted">
            signup to create an account <a class="ml-2" href="{{url_for('auth_blueprint.register')}}">Signup</a>
        </small>
      </div>

        
    </fieldset>
 </form>    

</div>


{% endblock %}