[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-migrate = "*"
flask-script = "*"
gunicorn = "*"
flask-mail = "*"
flask-bootstrap = "*"
flask-wtf = "*"
email-validator = "*"
flask-reuploaded = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
