.title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  font-family: "Bangers", cursive;
}

.content-container {
  font-size: x-large;
}

.line {
  border-bottom: 2px solid;
  display: block;
  margin: 20px;
}

.navbar {
  font-size: xx-large;
}

.navbar a {
  color: dodgerblue;
  text-align: center;
}

.content-container {
  text-align: center;
  /* border: 3px solid red; */
}

.content-date {
  height: 20px;
}

.input-comment {
  width: 100%;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  margin: 10px;
}
.button {
  color: white;
  background-color: dodgerblue;
  height: 40px;
  border-radius: 10px;
}
.posts-wrapper {
  text-align: center;
}

.account-heading {
  text-align: left;
  font-size: 28px;
  height: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: dodgerblue;
}
.input {
  width: 100%;
  height: 60px;
  border-radius: 15px;
}

.input-form {
  width: 100%;
  height: 60px;
  border-radius: 15px;
}

.input-blog {
  width: 100%;
  height: 60px;
  border-radius: 15px;
  height: 200px;
}

.nav-wrapper {
  height: 70px;
  text-align: center;
}
.nav-wrapper a {
  color: dodgerblue;
  margin-top: 10px;
  font-size: x-large;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  text-decoration: none;

}
.nav-wrapper a:hover {
  border-bottom: 1.5px solid black;
  color: rgba(0, 153, 255, 0.815);
}
.profile-img{
  text-align: center;
}

.profile-img img{
  border: 3px solid red;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  content: icon;
}
.profile-buttons{
  text-align: center;
  margin-top: 30px;
}

.profile-info{
  border: solid dodgerblue;
  background-color: rgba(30, 143, 255, 0.226);
  border-radius: 20px;
  margin-top: 20px;
}

.profile-info h2 ,h3{
  margin-left: 30px;
}
.profile-info a {
  font-size: x-large;
  margin-left: 40%;
  color: black;
}