{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="title">
    <h1>MY PROFILE</h1>
  </div>

  <div class="nav-wrapper">
    <a href="{{url_for('main_blueprint.create_post')}}">Create Blog</a>
    <a href="{{url_for('main_blueprint.posts')}}">blogs</a>
    <a href="{{url_for('auth_blueprint.logout')}}">logout</a>
    
  </div>

  {%if user.profile_pic_path%}
  <div class="profile-img">
    <img src="{{url_for('static', filename=user.profile_pic_path)}}" alt="" />
  </div>
  {%else%}
  <div class="-default-profile-img">
    <img
      src="{{url_for('static',filename = 'african.jpg')}}"
      alt="default picture"
    />
  </div>
  {%endif%} {%if user==current_user%}

  <div class="profile-buttons">
    <form
      action="{{url_for('main_blueprint.update_pic',uname = user.username)}}"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="photo" required class="input-button" />
      <input type="submit" class="button" />
    </form>
  </div>
  {%endif%}
  <div class="profile-info">
    <h2 class="account">Username: {{current_user.username}}</h2>
    <h3 class="names">firstname: {{current_user.first_name}}</h3>
    <h3 class="names">lastname: {{current_user.last_name}}</h3>
    <h3>Email: {{current_user.email}}</h3>
    {%if user.bio%}
    <h3 class="user-bio">Bio: {{user.bio}}</h3>
    {%else%}
    <h3>no bio available</h3>
    {%endif%} {%if user==current_user%}
    <a href="{{url_for('main_blueprint.update_account',uname = user.username)}}"
      >Edit profile</a
    >
  </div>
  {%endif%}
</div>

{% endblock %}
